@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400&family=IBM+Plex+Sans:wght@400&display=swap');
:root
{
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
text-rendering: optimizeLegibility;
font-family: "IBM Plex Sans Condensed",sans-serif;
font-weight: 700;
line-height: 20px;
color:#404040;
letter-spacing: -0.15px;
background: #F0F3F3;
}
:any-link{
    text-decoration: none;
    color:#404040;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}